@charset "UTF-8";
@font-face {
  font-family: 'Open Sans';
  src: url("fonts/OpenSans-Bold.eot");
  src: local("☺"), url("fonts/OpenSans-Bold.woff") format("woff"), url("fonts/OpenSans-Bold.ttf") format("truetype"), url("fonts/OpenSans-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Regular.eot");
  src: local("☺"), url("fonts/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat-Regular.ttf") format("truetype"), url("fonts/Montserrat-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Bold.eot");
  src: local("☺"), url("fonts/Montserrat-Bold.woff") format("woff"), url("fonts/Montserrat-Bold.ttf") format("truetype"), url("fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  src: url("fonts/MaterialIcons-Regular.eot");
  src: local("☺"), url("fonts/MaterialIcons-Regular.woff") format("woff"), url("fonts/MaterialIcons-Regular.ttf") format("truetype"), url("fonts/MaterialIcons-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: Montserrat,Arial,serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(31, 32, 65, 0.75);
}

body {
  padding: 0;
  margin: 0;
}

/*  header
    *********************************************************************************
*/
.header {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.header__container {
  margin: 0 auto;
  max-width: 1440px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  margin-left: 9.7%;
  margin-top: 14px;
}

.header__nav {
  margin-left: auto;
  margin-right: 9.7%;
  line-height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav_items {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 26px;
  margin-right: 20px;
  margin-left: auto;
  padding-left: 0;
}

.header__nav_item {
  list-style: none;
  margin-right: 20px;
}

.header__nav_item:first-child {
  margin-left: 20px;
}

.header__nav_item:last-child {
  margin-right: 0px;
}

.header__nav_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  white-space: nowrap;
  color: rgba(31, 32, 65, 0.5);
}

.header__user_items {
  padding-left: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
}

.header__user_item {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  list-style: none;
}

.header__user_item:last-child {
  margin-left: 20px;
}

.header__signin {
  text-decoration: none;
  color: #BC9CFF;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.header__Border_button {
  line-height: 29px;
  width: 83px;
  height: 30px;
  position: relative;
  top: 2px;
  left: 2px;
  border-radius: 22px;
  background-color: white;
}

.header__signup {
  text-decoration: none;
  color: #FFF;
  line-height: 34px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.header__CTA_text {
  font-weight: 700;
  color: rgba(31, 32, 65, 0.75);
}

.Button_signin {
  border-radius: 22px;
  width: 87px;
  height: 34px;
}

.Button_signup {
  border-radius: 22px;
  width: 196px;
  height: 34px;
}

/*  header
    *********************************************************************************
*/
.arrowdown {
  height: 21px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  /* Dark 50% */
  color: rgba(31, 32, 65, 0.5);
}

main {
  max-width: 1440px;
  padding: 0px;
  margin: 0 auto;
  min-width: 320px;
}

h1 {
  font-family: 'Open Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #1F2041;
}

h2 {
  font-family: 'Open Sans';
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #1F2041;
}

h3 {
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #1F2041;
}

.CTA-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  font-family: Montserrat;
}
