@import "_fonts";


@import "_header";

html {
    font-family: Montserrat,Arial,serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(31, 32, 65, 0.75);
}

body{
    padding: 0;
    margin: 0;
}



/*  header
    *********************************************************************************
*/




.header {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    &__container {
        margin: 0 auto;
        max-width: 1440px;
        height: 70px;
        display: flex;
    }

    &__logo {
        margin-left: 9.7%;
        margin-top: 14px;;
    }

    &__nav{
        margin-left: auto;
        margin-right: 9.7%;;
        line-height: 31px;
        display: flex;
    }

    &__nav_items {
        text-align: center;
        display: flex;
        margin-top: 26px;
        margin-right: 20px;
        margin-left: auto;
        padding-left: 0;
    }

    &__nav_item {
        list-style: none;
        margin-right: 20px;
        &:first-child{
            margin-left: 20px;
        }
        &:last-child{
            margin-right: 0px;
        }
    }

    &__nav_link{
        display: flex;
        text-decoration: none;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;

        white-space: nowrap;

        color: rgba(31, 32, 65, 0.5);
    }


    &__user_items {
        padding-left: 0;
        text-align: center;
        display: flex;
        margin-top: 18px;
        
    }

    &__user_item {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        list-style: none;
        &:last-child{
            margin-left: 20px;
        }
    }

    &__signin{
        text-decoration: none;
        color: #BC9CFF;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
    }

    &__Border_button{
        line-height: 29px;
        width: 83px;
        height: 30px;
        position: relative;
        top: 2px;
        left: 2px;
        border-radius: 22px;
        background-color: white;
    }

    &__signup{
    text-decoration: none;
    color: #FFF;
    line-height: 34px; 
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    }

    &__CTA_text{
        font-weight: 700;
        color: rgba(31, 32, 65, 0.75);
    }
}
.Button_signin{
    border-radius: 22px;
    width: 87px;
    height: 34px;

}

.Button_signup {
    border-radius: 22px;
    width: 196px;
    height: 34px;    
}



/*  header
    *********************************************************************************
*/

.arrowdown{
    height: 21px;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    /* Dark 50% */

    color: rgba(31, 32, 65, 0.5);
}

main {
    max-width: 1440px;
    padding: 0px;
    margin: 0 auto;
    min-width: 320px;
}
h1 {
    font-family: 'Open Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #1F2041;
}

h2 {
    font-family: 'Open Sans';
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #1F2041;
}

h3 {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #1F2041;
}

.CTA-text {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    font-family: Montserrat;
}